{% extends 'base1.html' %}
{% block news %}

<div class="container mt-3" style="width: 100%;">
    <ol>
    {% for i in articles %}
        <li>
            <p style="font-weight: 600;"><u>{{i.title | title}}</u></p>
            <p><small><em>Author : {{i.author}}</a> </em></small></p>
            <p><small><em>Source : {{i.source.name}}</a> </em></small></p>
            <p><small><em>Published At : {{i.publishedAt}}</em></small></p>
            <p>{{i.description}}</p>
            <img src="{{i.urlToImage}}" class="container m-3" height="400px" width="500px"
                alt="Couldn't Load Image :(" style="width:100%; object-fit: contain;" />
            <p>{{i.content}}</p>
            <p><a href="{{i.url}}" target="_blank">Full News : </a></p>
            <hr />
        </li>
        {% endfor %}
    </ol>
</div>
{% endblock news %}