<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>News APP</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="">
    <!-- Bootstrap core CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/css/mdb.min.css" rel="stylesheet">
</head>

<body>
    <div class="container " style="width: 100%;">
        <div class="row m-4">
            <div class="col-6">
                <a href="//127.0.0.1:8000/news/" class="btn btn-sm btn-success" style="text-decoration: none;">NEWS APP</a>
            </div>
            <div class="col-6">
                <a href="//127.0.0.1:8000/dictionary/" class="btn btn-sm btn-success" style="text-decoration: none;">Dictionary APP</a>
            </div>
        </div>
        <hr>
        <ol>

            {% for i in articles %}
            <li>
                <p style="font-weight: 600;"><u>{{i.title | title}}</u></p>
                <p><small><em>Author : {{i.author}}</a> </em></small></p>
                <p><small><em>Source : {{i.source.name}}</a> </em></small></p>
                <p><small><em>Published At : {{i.publishedAt}}</em></small></p>
                <p>{{i.description}}</p>
                <img src="{{i.urlToImage}}" class="container m-3" height="400px" width="500px"
                    alt="Couldn't Load Image :(" style="width:100%; object-fit: contain;" />
                <p>{{i.content}}</p>
                <p><a href="{{i.url}}" target="_blank">Full News : </a></p>
                <hr />
            </li>
            {% endfor %}
        </ol>

    </div>
    <script src="" async defer></script>
</body>

</html>